/* written by Tim McGinley 2022 */

h1 {
	color: black;
	padding: 20px;
  	text-align: center;
  	background: rgb(255, 111, 212);
	font-family: "Comic Sans MS", "Comic Sans", cursive;
  	font-size: 30px;
}

p {
	color: black;
  	text-align: center;
}

/* model*/
model- {
	display:block;
	background-color:rgb(255, 175, 231);
	width:50%;
	border:none;
	color:#1b1b1b;
	margin:auto;
	padding-bottom:50px;
	FLOAT:LEFT;
	height:100%;
}

view- {
	display:block;
	background-color:rgb(253, 202, 237);
	width:50%;
	border:none;
	color:#1b1b1b;
	margin:auto;
	padding-bottom:50px;
	FLOAT:LEFT;
	height:100%;
}

/* follows the project, site, building, floor hierachy */

/* ifcProject*/
project- {
	display:block;
	padding:5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	background-color:rgb(255, 175, 231);
	width:100%;
	border:none;
	color:#1b1b1b;
	margin:auto;
	padding-bottom:50px;
	Float:left;
}

/*ifcSite */
site- {
	display:block;
	margin-top: 20px;
}

/* This is not normally used but has uses */
core- {
	display:block;
	background-color:#000;
	position:relative;
	padding:2px;
	left:100px;
	margin-bottom:0px;
	border-color: #000;
	width:50px;
	color:#1b1b1b;
}

/*ifcBuilding */
building- {
	display:block;
	background-color:#ddd;
	padding:0px;
	margin:5px;
	border-color: #000;
	width:270px;
	color:#1b1b1b;
	/*border-top: 4px solid black;*/
	min-height: 20px;
	overflow: hidden;
	margin:auto;
}

/* This could also be zone
it is container for a block of floors */
segment- {
	display:block;
	background-color:#fff;
	border-style: dotted;
	position:relative;
	border-color: #000;
	left:-100px;
	margin: auto;
	padding:2px;
	width:225px;
	margin-top:2px;
	color:#1b1b1b;
}

/* ifcBuildingStorey */
floor- {
	display:block;
	background-color:#fff;
	position:relative;
	padding:2px;
	padding-left:10px;
	width:230px;
	margin:auto;
	margin-top:2px;
	color:#1b1b1b;
	border-bottom: 4px solid black;
}

/* VIEW DEFINITIONS...

/* plan - this contains a plan of the currently selected floor*/
plan- {
	display:block;
	background-color:rgb(255, 175, 231);
	margin: auto;
	padding:0px;
	border-color: #000;
	width:90%;
	color:#1b1b1b;
	/*border-top: 4px solid black;*/
	min-height: 20px;
	overflow: hidden;
	margin:auto;
	margin-top:5px;
}

/* plan - this contains a plan of the currently selected floor*/
.plan {
	display:block;
	background-color:#fff;
	margin:auto;
	margin-top:5%;
	margin-bottom:5%;
	height:100px;
	width: 200px;
	color:#1b1b1b;
	/*border-top: 4px solid black;*/
	min-height: 20px;
	overflow: hidden;
	border: 3px solid black;
}

/* properties - this contains the calculated properties*/
props- {
	display:block;
	background-color:rgb(255, 175, 231);
	margin: auto;
	padding:0px;
	width:90%;
	color:#1b1b1b;
	/*border-top: 4px solid black;*/
	min-height: 20px;
	overflow: hidden;
	margin:auto;
	margin-top:5px;
	text-align: center;
}

boks- {
	display:block;
	background-color:rgb(255, 175, 231);
	margin: auto;
	padding:0px;
	width:90%;
	color:#1b1b1b;
	/*border-top: 4px solid black;*/
	min-height: 20px;
	overflow: hidden;
	margin:auto;
	margin-top:5px;
	text-align: center;
}

/* MEP stuff is in this floor */
mep- {
	display:block;
	background-color:#fff;
	position:relative;
	padding-left:10px;
	width:220px;
	height:0px;
	left:0px;
	margin-top:0px;
	color:#1b1b1b;
	border-top: 2px dashed cyan;
}

/* ground line */
ground-{
	display:block;
	margin: auto;
	overflow: auto;
	padding-top:0px;
	padding:2px;
	padding-left:10px;
	width:450px;
	border-top: 6px solid black;
	
}

/* STYLING */

/* floor styling */
.floor_name {
	float:left;
	padding-left:20px;
}

/* floor styles (based on elevation) */

.floor_upper {
	border-left: 2px dashed black;
	border-right: 2px dashed black;
}
.floor_ground {
	background-color: #eee;
	border-left: 2px dashed gray;
	border-right: 2px dashed gray;
	border-bottom: none;
}
.floor_lower {
	background-color: #ddd;
	border-left: 2px solid brown;
	border-right: 2px solid brown;
	
}

.floor_stats {
	
	float:right;
	padding:0px;
	font-style: italic;
	border-radius:5px;
	background-color:#fff;
	margin-right:10px;
	margin-top:0px;
	
}